# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
if SHIELD_RETREX_LEFT

config ZMK_KEYBOARD_NAME
    default "Retrex"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RETREX_LEFT || SHIELD_RETREX_RIGHT

config ZMK_SPLIT
    default y

endif